// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-idea {
  .col-md-4 {
      img {
         max-height: 245px;
      }
  }
}

.navbar-text {
  img {
    max-width:50px;
  }
}

.navbar-brand {
  padding-top: 30px;
}

.navbar-default .navbar-nav > .active > a {
  padding-top: 30px;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 30px;
}

.navbar-default .navbar-nav > .active > a {
  background: none;
  -webkit-box-shadow: none;
}
.container a:hover {
  color: #f55e55;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}

h1 {
  text-transform: uppercase;
   padding-top: 20px;
}
footer {
  margin-bottom: 40px;
  margin-top: 50px;
}


.container input[type="submit"] {
  height: 30px;
  font-size: 13px;
  background-color: #f55e55;
  border: none;
  color: #fff;
  background-image: none !important;
}